.cardGroup{
    justify-content: center;
    align-items: flex-start;
}
.movieReview {
    padding: 10px;
    word-wrap: break-word;
}

.reviewSection:hover {
    cursor: pointer;
}

.warningMsg {
    margin-top: 10% !important;
}